/* .binSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width:10rem;
    text-align: center;
    box-sizing: border-box;
} */

.binSummary {
    font-family: 'Jost';
    display: flex;
    align-items: center;
    justify-content:flex-start;
    position: absolute; /* Position BinDisplay absolutely */
    left: 1rem;
    gap: 0.5em;
    padding-top: 3em; 
}

.binImage {
    padding-top: 0.6rem;
}

.binImage img {
    width: 100%;
    height: auto;
    max-width: 3rem
}

.binDate {
    font-size: 1.1rem; /* Adjust font size for readability */
    color: #333; 
}

.binDateText {
    font-weight: normal;
}

.dayBeforeBinWarning {
    font-size: 5vh;
    margin-top: 4.8vh;
    margin-left: 4px;
    color:red;
}